{% extends "base.html" %}

{% block content %}
<div class="results_container_col" style="margin: 0 25px 25px 0;">
  <img src="https://i.imgur.com/MlljXS1.png" style="text-align: center; width: 250px">
  <ol style="list-style: none; font-size: 22px; line-height: 42px; margin: 0;">
  <li style="clear: both;">&nbsp;</li>
  <li style="clear: both;">Astroscope uses your Reddit username to predict your Myers-Briggs personality type. Using your Reddit comments, we use machine learning to individually predict each trait (Introverted or Extroverted, Sensing or Intuition, etc...). The model is around 75% accurate for each individual trait.&nbsp;</li>
  </ol>
  <p>&nbsp;</p>
  <ol style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold; text-align: center;">
  <li style="clear: both;">
  <h2 style="color: #5e9ca0; text-align: right;">Developer Note</h2>
  </li>
  <li style="clear: both; text-align: right;">Astroscope was developed for fun and does not collect data.</li>
  <li style="clear: both; text-align: right;">Currently in early development.</li>
  <li style="clear: both; text-align: right;">Developed by <a href="https://twitter.com/sidaksohi">Sidak</a></li>
  </ol>
</div>
{% endblock %}