<!DOCTYPE html>
<html>
  <head>
    {% include "header.html" %}
  </head>

  <body style="margin: 0">
    {% block content %}
      <div class="container">
          {% for message in get_flashed_messages() %}
          <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
          </div>
          {% endfor %}

          {% block page_content %}{% endblock %}
      </div>          
    {% endblock %}
  </body>

  <footer>
    {% include "footer.html" %}
  </footer>
</html>