{% extends "base.html" %}

{% block content %}
<div class="results_container_col" style="margin: 0 25px 25px 0;">
  <h1 style="color: #5e9ca0; text-align: center;">Page Not Found</h1>
  <img src="https://i.imgur.com/MlljXS1.png" style="text-align: center; max-width: 50%;">
  <ol style="list-style: none; font-size: 14px; line-height: 32px; font-weight: bold;">
  <li style="clear: both;">&nbsp;</li>
  <li style="clear: both;">Astroscope is in early development.</li>
  </ol>
  </ol>
</div>
{% endblock %}