<div id="section-id-62-" data-element-type="section">
      <div id="container-id-37-" data-element-type="container">
        <div id="container-id-39-" data-element-type="container" style="left: 0px; top: 988px;">
          <div id="container-id-40-" data-element-type="container">
            <p id="text-id-41-" data-element-type="text" style="left: 165px; top: 880px;">Astroscope</p>
              <div id="container-id-42-" data-element-type="container" style="left: 0px; top: 908px;">
                <a id="button-id-43-" data-element-type="button" style="left: 134px; top: 977px;" href="{{ url_for('index') }}">
                <span id="element-id-44-">Home</span></a><a id="button-id-45-" data-element-type="button" href="{{ url_for('about') }}" target="_blank">
                <span id="element-id-46-">About</span></a></div></div><div id="container-id-54-" data-element-type="container">
                <p id="text-id-55-" data-element-type="text" style="left: 165px; top: 880px;">Contact</p>
                <div id="container-id-56-" data-element-type="container" style="left: 0px; top: 908px;">
                  <a id="button-id-57-" data-element-type="button" href="mailto:hotblue1337@gmail.com" target="_blank">
                    <span id="element-id-58-">Email</span>
                  </a>
                  <a id="button-id-59-" data-element-type="button" href="https://twitter.com/sidaksohi" target="_blank">
                  <span id="element-id-60-">Twitter</span>
                  </a>
                </div>
              </div>
          </div>
          <p id="text-id-61-" data-element-type="text">© 2021 Astroscope, Inc. All rights reserved.</p>
        </div>
      </div>
    </div>