<link rel='icon' href='https://i.imgur.com/rfot907.png' type='image/x-icon'/>
    <meta charset="utf-8">
    <title>Astroscope</title>
    <meta name="description" content="Find your unique astroscope today.">
    <meta name="og:image" content="https://i.imgur.com/rfot907.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <link href="static/aspect-elements.css" rel="stylesheet" />
    <link href="static/aspect-style.css" rel="stylesheet" />

    <div data-element-behavior="menu" id="menu-id-0-" data-element-type="section">
      <div id="container-id-5-" data-element-type="container">
        <div id="container-id-6-" data-element-type="container">
            <a id="button-id-25-" data-element-type="image" href="{{ url_for('index') }}">
              <img id="nav_logo" src="https://i.imgur.com/rfot907.png">
            </a>
            <a href="{{ url_for('index') }}">
              <p id="text-id-1-" data-element-type="text">Astroscope</p>
            </a>
        </div>
        <div id="container-id-43-" data-element-type="container">
          <a id="button-id-37-" data-element-type="button" style="left: 100.5px; top: 0px;" href="{{ url_for('about') }}">
          <span id="element-id-38-">About</span></a><a id="button-id-39-" data-element-type="button" style="left: 93.5px; top: 0px;" href="{{ url_for('dev') }}">
          <span id="element-id-40-">Sign-Up</span></a><a id="button-id-41-" data-element-type="button" style="left: 100.5px; top: 0px; pointer-events: none;" href="{{ url_for('dev') }}">
          <span id="element-id-42-" style="pointer-events: auto;">Log In</span></a>
        </div>
      </div>
    </div>